.controller .custom{
    background-color: dimgray;
    height: 56px;
    width: 400px;
}
.custom .disconnected {
    background-color: sienna;
}

.custom .disconnected div {
    display: none;
}

/* DPad */

.custom .dpad {
	width: 144px;
    height: 144px;
    left: 71px;
    top: 196px;
}
.custom .face {
    background: url(https://i.imgur.com/hCmzXWK.png);
    position: absolute;
    opacity: 0;
}
.custom .face.up {
    background-position: 0 -68px;
    width: 52px;
    height: 63px;
    left: 46px;
}
.custom .face.down {
    background-position: -54px 63px;
    width: 52px;
    height: 63px;
    left: 46px;
    top: 81px;
}
.custom .face.left {
    background-position: -108px -68px;
    width: 64px;
    height: 52px;
    left: -1px;
    top: 47px; 
}
.custom .face.right {
    background-position: -175px -68px;
    width: 63px;
    height: 52px;
    left: 81px;
    top: 46px;
}
/* Share & Option*/

.custom .arrows{
    position: absolute;
    width: 56px;
    height: 56px;
}
.custom .back, .custom .start{
    background: url(https://i.imgur.com/YJRVQxC.png);
    width: 27px;
    height: 57px;
    opacity: 0;
}
.custom .back.pressed, .custom .start.pressed{
    background-color: lightblue;
}
.custom .start {
    background-position: 27px 0;
}

/* Face Buttons*/

.custom .abxy {
    width: 181px;
    height: 181px;
    left: 573px;
    top: 178px;
}
.custom .button {
    background: url(https://i.imgur.com/DVqDSsJ.png);
    width: 58px;
    height: 58px;
}
.custom .button.pressed {
  	background-position-y: -59px;
	margin-top: 0;
}
.custom .a {
    background-position: 0 0;
    left: 61px;
    top: 123px;
}
.custom .b {
    background-position: -59px 0;
    left: 123px;
    top: 62px;
}
.custom .x {
    background-position: -118px 0;
    left: 0px;
    top: 61px;
}
.custom .y {
    background-position: -177px 0;
    left: 61px;
    top: 0px;
