.controller .custom{
    background-color: dimgray;
    height: 56px;
    width: 400px;
}
.custom .disconnected {
    background-color: sienna;
}

.custom .disconnected div {
    display: none;
}
/*
.custom .dpad{
    position: absolute;
    width: 140px;
    height: 132px;
    top: 192px;
    left: 74px;
}
.custom .face{
    background: url(ps3-assets/dpad.png);
    position: absolute;
}
.custom .face.up, .custom .face.down{
    width: 38px;
    height: 52px;
}
.custom .face.left, .custom .face.right{
    width: 52px;
    height: 38px;
}
.custom .face.up{
    left: 50px;
    top: 0;
    background-position: 92px 0px;
}
.custom .face.down{
    left: 50px;
    top: 79px;
    background-position: 131px 0;
}
.custom .face.left{
    top: 47px;
    left: 0;
    background-position: 0px 0;
}
.custom .face.right{
    top: 47px;
    right: 0px;
    background-position: 53px 0;
}
.custom .face.pressed{
    margin-top: 5px;
    background-position-y: 52px;
}
*/
.custom .arrows{
    position: absolute;
    width: 56px;
    height: 56px;
}
.custom .back, .custom .start{
    background: url(http://gamepadviewer.com/ps4-assets/start.svgz);
    width: 28px;
    height: 47px;
    margin-top: 4.5px;
}
.custom .back.pressed, .custom .start.pressed{
    background-color: lightblue;
}
.custom .back{
    left 0;
}
.custom .start{
    left: 28px;
}

.custom .abxy{
    position: absolute;
    width: 224px;
    height: 56px;
    left: 56px;
}
.custom .button{
    position: absolute;
    float: left;
    width: 56px;
    height: 56px;
    background: url(http://gamepadviewer.com/ps4-assets/face.svgz);
}
.custom .button.pressed{
    background-position-y: -56px;
}
.custom .x{
    background-position: -112px 0;
    left: 0;
}
.custom .a{
    background-position: 0px 0;
    left: 56px;
}
.custom .b{
    background-position: -56px 0;
    left: 112px;
}
.custom .y{
    background-position: -168px 0;
    left: 168px;
}
