.controller .custom{
    height: 0px;
    width: 0px;
}
.custom .disconnected {
}

.custom .disconnected div {
    display: none;
}
.custom .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
}

.custom .back, .custom .start{
    background: url(http://gamepadviewer.com/ps4-assets/start.svgz);
    width: 34px;
    height: 46px;
}
.custom .back.pressed, .custom .start.pressed{
    background-position-y: -28px;
    margin-top: 2px;
}
.custom .back{
    float: left;
    width: 28px;
}
.custom .start{
    float: right;
    width: 28px;
    background-position: 28px 0;
}

.custom .abxy{
    position: absolute;
    width: 204px;
    height: 205px;
    top: 156px;
    left: 538px;
}

.custom .button{
    position: absolute;
    width: 54px;
    height: 54px;
    background: url(http://gamepadviewer.com/ps4-assets/face.svgz);
}
.custom .a{
    background-position: 0px 0;
    top: 0px;
    left: 0px;
}
.custom .b{
    background-position: 54px 0;
    top: 0px;
    right: 54px;
}
.custom .x{
    background-position: 108 0;
    top: 0px;
    right: 108px;
}
.custom .y{
    background-position: 162px 0;
    top: 0px;
    right: 162px;
}

.custom .dpad{
    position: absolute;
    width: 140px;
    height: 132px;
    top: 192px;
    left: 74px;
}
.custom .face{
    background: url(http://gamepadviewer.com/ps4-assets/dpad.svgz);
    position: absolute;
}
.custom .face.up, .custom .face.down{
    width: 38px;
    height: 52px;
}
.custom .face.left, .custom .face.right{
    width: 52px;
    height: 38px;
}
.custom .face.up{
    left: 50px;
    top: 0;
    background-position: 92px 0px;
}
.custom .face.down{
    left: 50px;
    top: 79px;
    background-position: 131px 0;
}
.custom .face.left{
    top: 47px;
    left: 0;
    background-position: 0px 0;
}
.custom .face.right{
    top: 47px;
    right: 0px;
    background-position: 53px 0;
}
.custom .face.pressed{
    margin-top: 5px;
    background-position-y: 52px;
}
