.controller .custom{
    height: 400px;
    width: 400px;
}
.custom .disconnected {
}

.custom .disconnected div {
    display: none;
}
/*
.custom .back, .custom .start{
    background: url(http://gamepadviewer.com/ps4-assets/start.svgz);
    width: 34px;
    height: 46px;
}
.custom .back.pressed, .custom .start.pressed{
    background-color: lightblue;
}
.custom .back{
    float: left;
    width: 28px;
}
.custom .start{
    float: right;
    width: 28px;
    background-position: 28px 0;
}
*/
.custom .abxy{
    position: absolute;
    float: left;
    width: 220px;
    height: 55px;
}
.custom .button{
    position: absolute;
    float: left;
    width: 55px;
    height: 55px;
    background: url(http://gamepadviewer.com/ps4-assets/face.svgz);
}
.custom .button.pressed{
    background-position-y: -55px;
}
.custom .a{
    background-position: 0px 0;
    left: 0;
}
.custom .b{
    background-position: -55px 0;
    left: 55px;
}
.custom .x{
    background-position: -110px 0;
    left: 110px;
}
.custom .y{
    background-position: -165px 0;
    left: 165px;
}
