/*Dualsense Minimal Black v2*/

.controller.custom{ 
	background: url(https://raw.githubusercontent.com/teku159/teku159.github.io/main/ds-minimal/midnight-black/base.svg);
    height: 230px;
    width: 652px;
}
.custom.disconnected {
    /*background: url(base-disconnect.png);*/
}
.custom.disconnected div {
    display: none;
}
.custom .triggers{
    left: 32px;
	width: 588px;
    height: 31px;
    position: absolute;
}
.custom .trigger{
    width: 55px;
    height: 31px;
    background: url(https://raw.githubusercontent.com/teku159/teku159.github.io/main/ds-minimal/midnight-black/bumper.svg);
    opacity: 0;
}
.custom .trigger.left{ 
    float: left;
}
.custom .trigger.right{
    float: right;
}
.custom .trigger-button.left{
    
}
.custom .trigger-button.right{
    
}
.custom .trigger-button.left.pressed{
    
}
.custom .trigger-button.right.pressed{
    
}
.custom .bumpers{
	left: 98px;
    width: 457px;
    height: 31px;
    position: absolute;
}
.custom .bumper{
    width: 55px;
    height: 31px;
    background: url(https://raw.githubusercontent.com/teku159/teku159.github.io/main/ds-minimal/midnight-black/bumper.svg);
    opacity: 0;
}
.custom .bumper.pressed{
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
}
.custom .touchpad{
	position: absolute;
	height: 72px;
	width: 158px;
	top: 8px;
	left: 247px;
	background: url(https://raw.githubusercontent.com/teku159/teku159.github.io/main/ds-minimal/midnight-black/touch.svg);
	opacity: 0;
}
.custom .touchpad.pressed{
	opacity: 1;
}
/*
.custom .quadrant{
    position: absolute;
    background: url(ps3-assets/player-n.png);
    height: 17px;
    width: 111px;
    top: 140px;
    left: 240px;
}
.custom .p0{
    background-position: 0 -6px;
}
.custom .p1{
    background-position: 0 -28px;
}
.custom .p2{
    background-position: 0 -49px;
}
.custom .p3{
    background-position: 0 -70px;
}*/
.custom .arrows{
    position: absolute;
    width: 282px;
    height: 55px;
    top: 17px;
    left: 185px;
}
.custom .back, .custom .start{
    width: 41px;
    height: 55px;
	background: url(https://raw.githubusercontent.com/teku159/teku159.github.io/main/ds-minimal/midnight-black/arrow.svg);
	opacity: 0;
}
.custom .back.pressed, .custom .start.pressed{
	opacity: 1;
}
.custom .back{
	float: left;
}
.custom .start{
	-webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
	float: right;
}
.custom .abxy{
    position: absolute;
    width: 169px;
    height: 169px;
    top: 51px;
    left: 473px;
}
.custom .button{
    position: absolute;
    width: 54px;
    height: 54px;
	background: url(https://raw.githubusercontent.com/teku159/teku159.github.io/main/ds-minimal/midnight-black/face.svg);
}
.custom .button.pressed{
    background-position-y: 54px;
}
.custom .a{
    background-position: 0 0;
    bottom: 0px;
    left: 58px;
}
.custom .b{
    background-position: -57px 0;
    top: 58px;
    right: 0px;
}
.custom .x{
    background-position: -113px 0;
    top: 58px;
}
.custom .y{
    background-position: 55px 0;
    left: 58px;
}
.custom .sticks{
    position: absolute;
    width: 236px;
    height: 93px;
    top: 118px;
    left: 208px;
}
.custom .stick{
    position: absolute;
    background: url(https://raw.githubusercontent.com/teku159/teku159.github.io/main/ds-minimal/midnight-black/stick.svg);
    height: 94px;
    width: 94px;
}
.custom .stick.pressed.left{
    background-position-x: -96px;
}
.custom .stick.pressed.right{
    background-position-x: -192px;
}
.custom .stick.left{
    top: 0;
    left: 0;
}
.custom .stick.right{
    top: calc(100% - 94px); /*105*/
    left: calc(100% - 94px);
}
.custom .dpad{
    position: absolute;
    width: 125px;
    height: 125px;
    top: 73px;
    left: 32px;
}
.custom .face{
	background: url(https://raw.githubusercontent.com/teku159/teku159.github.io/main/ds-minimal/midnight-black/dpad.svg);
    position: absolute;
}
.custom .face.up, .custom .face.down{
    width: 35px;
    height: 51px;
}
.custom .face.left, .custom .face.right{
    width: 51px;
    height: 35px;
}
.custom .face.up{
    left: 45px;
    top: 0;
    background-position: -37px 0px;
}
.custom .face.down{
    left: 45px;
    /*top: 74px;*/
	bottom: 0;
    background-position: 0 0;
}
.custom .face.left{
    top: 45px;
    left: 0;
    background-position: 104px 0;
}
.custom .face.right{
    top: 45px;
    right: 0;
    background-position: 52px 0;
}
.custom .face.pressed{
    background-position-y: 52px;
}
